<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mybatis.mapper.UserMapper">

    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'张三','123',23,'女','12345@qq.com')
    </insert>
    <!--int updateUser();-->
    <update id="updateUser">
        update t_user set username='李四' where id = 3
    </update>
    <!--int deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 4
    </delete>
    <!--User getUserById();-->
    <!--查询功能必须设置resultType或者是resultMap
        resultType设置的是默认的映射关系
        resultMap设置自定义的映射关系-->
    <select id="getUserById" resultType="com.company.mybatis.pojo.User">
        select * from t_user where id = 3;
    </select>
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.company.mybatis.pojo.User">
        select * from t_user
    </select>
</mapper>